@tailwind base;
@tailwind components;
@tailwind utilities;
.bg {
  background-image: linear-gradient(
    to right top,
    #f7fbfe,
    #f8fafe,
    #faf9fd,
    #fcf9fc,
    #fdf8fa
  );
}
.subscriptionBanner {
  background: #b598e8;
}

.borderHeader {
  -webkit-border-bottom-right-radius: 1000px;
  -moz-border-radius-bottomright: 1000px;
  border-bottom-right-radius: 1000px;
}
.header {
  background-image: url("./assets/headerbg.png");
  background-size: cover;
  background-position: center;
}

.lounchText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 126%;
  color: #12262e;
}
.middleText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 158%;
  /* or 33px */

  color: rgba(18, 38, 46, 0.6);
}
.lastText {
  font-family: "Arial";
  font-style: normal;
  font-size: 18px;
  line-height: 167.5%;
  /* or 30px */

  color: #12262e;
}
