@tailwind base;
@tailwind components;
@tailwind utilities;
.bg {
  background-image: linear-gradient(
    to right top,
    #f7fbfe,
    #f8fafe,
    #faf9fd,
    #fcf9fc,
    #fdf8fa
  );
}
.subscriptionBanner {
  background: #b598e8;
}

.borderHeader {
  -webkit-border-bottom-right-radius: 1000px;
  -moz-border-radius-bottomright: 1000px;
  border-bottom-right-radius: 1000px;
}
.header {
  background-image: url("./assets/headerbg.png");
  background-size: cover;
  background-position: center;
}

.lounchText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 126%;
  color: #12262e;
}
.middleText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 158%;
  /* or 33px */

  color: rgba(18, 38, 46, 0.6);
}
.lastText {
  font-family: "Arial";
  font-style: normal;
  font-size: 18px;
  line-height: 167.5%;
  /* or 30px */

  color: #12262e;
}
.react-paginate ul li:not(.previous):not(.next) {
  display: none;
}
.react-paginate ul li:not(.previous):not(.next) {
  display: var(--pagination-page-display);
}
.react-paginate ul li {
  display: none !important;
}
.width {
  width: 75%;
}
.headerWidth {
  width: 32%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
  .headerWidth {
    width: 75%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .headerWidth {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .headerWidth {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .headerWidth {
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerWidth {
    width: 30%;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-review-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-review-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-review-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-review-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
